<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naslov</title>
    <style>
        body {
            background-color: burlywood;
        }
        header {
            width: 100%;
            padding: 0 0 auto 0;
            border-bottom: 0.2em solid black;
        }
        section {
            background-color: white;
            width: 80%;
            margin: auto;
            min-height: ;
        }
        div {
            background-color: ivory;
        }
        footer {
            position: absolute;
            bottom: 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>Naslov</h1>
        <nav>
            <a href=""><button type="button">Zemljevid</button></a>
            <a href=""><button type="button">Knjige</button></a>
            <a href="/login"><button type="button">Prijava</button></a>
        </nav>
    </header>
    <section>
        <div><p>besedilo</p></div>
    </section>
    <footer>
        <nav>
            <p>footer</p>
        </nav>
    </footer>
</body>
</html>